@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0A0A0A;
}
